In [121]:
RKP = "DL031"
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn

In [122]:
metro_data = pd.read_csv('./data/rkpuram.csv',delimiter=';',skiprows=24)
aqi_data = pd.read_csv('./data/station_hour.csv')

In [123]:
def nullAqi(datafram):
    return str(datafram.isnull()['AQI'].sum()).zfill(5) + "/" + str(len(datafram)).zfill(5)
stations = ["DL"+str(x).zfill(3) for x in range(1,39)]
split_aqi = []
for i in range(len(stations)):
    split_aqi.append(aqi_data[aqi_data['StationId'] == stations[i]])
    a_1 = split_aqi[i][split_aqi[i]['Datetime'].str[0:4]=="2015"]
    a_2 = split_aqi[i][split_aqi[i]['Datetime'].str[0:4]=="2016"]
    a_3 = split_aqi[i][split_aqi[i]['Datetime'].str[0:4]=="2017"]
    a_4 = split_aqi[i][split_aqi[i]['Datetime'].str[0:4]=="2018"]
    a_5 = split_aqi[i][split_aqi[i]['Datetime'].str[0:4]=="2019"]
    print("ST:",stations[i],nullAqi(a_1),nullAqi(a_2),nullAqi(a_3),nullAqi(a_4),nullAqi(a_5))
# aqi_ito = split_aqi[13]
# print(aqi_ito)

ST: DL001 00000/00000 00000/00000 00000/00000 00015/01209 00365/08760
ST: DL002 01076/06517 01866/08784 03882/08760 01750/08760 00318/08760
ST: DL003 00000/00000 00000/00000 00000/00000 00158/08007 00060/08760
ST: DL004 00000/00000 00000/00000 01126/02772 00439/08760 00273/08760
ST: DL005 00000/00000 00000/00000 00000/00000 00015/04325 00097/08760
ST: DL006 00000/00000 00000/00000 00399/02951 03087/08760 00686/08760
ST: DL007 03742/08759 08761/08784 07307/08760 00390/08760 00141/08760
ST: DL008 08759/08759 08784/08784 08026/08760 00726/08760 00420/08760
ST: DL009 00000/00000 00000/00000 00000/00000 00236/08007 00162/08760
ST: DL010 00000/00000 00000/00000 00000/00000 00132/08008 00047/08760
ST: DL011 00000/00000 06587/06587 08760/08760 08760/08760 08760/08760
ST: DL012 00000/00000 00000/00000 00796/02951 00159/08760 00950/08760
ST: DL013 04643/08759 06564/08784 07308/08760 00556/08760 00295/08760
ST: DL014 08695/08695 08784/08784 07664/08760 01479/08760 00298/08760
ST: DL015 00000/00000 00000/00000 00000/00000 00156/08007 00027/08760
ST: DL016 00000/00000 00000/00000 00000/00000 00247/08007 00162/08760
ST: DL017 00000/00000 00000/00000 01133/02773 00458/08760 00622/08760
ST: DL018 00000/00000 00000/00000 00000/00000 00052/08015 00093/08760
ST: DL019 00900/06393 05048/08784 07360/08760 00277/08760 00094/08760
ST: DL020 00000/00000 00000/00000 00000/00000 00109/04349 00204/08760
ST: DL021 04008/08759 03000/08784 05008/08760 00115/08760 00082/08760
ST: DL022 00000/00000 00000/00000 00000/00000 00101/08005 00435/08760
ST: DL023 00000/00000 00000/00000 00000/00000 00233/08005 00207/08760
ST: DL024 00000/00000 00000/00000 00000/00000 00159/08005 00027/08760
ST: DL025 00000/00000 00000/00000 01465/02951 00667/08760 01373/08760
ST: DL026 00000/00000 00000/00000 00000/00000 00234/08005 00128/08760
ST: DL027 00000/00000 00000/00000 00000/00000 00176/08005 00051/08760
ST: DL028 01037/06439 02518/08784 07413/08760 00391/08760 00255/08760
ST: DL029 00000/00000 00000/00000 00000/00000 00125/04349 00083/08760
ST: DL030 00000/00000 00000/00000 01102/02794 00450/08760 00199/08760
ST: DL031 00822/06517 00844/08784 04360/08760 00278/08760 00372/08760
ST: DL032 00000/00000 00000/00000 00000/00000 00303/08005 00075/08760
ST: DL033 07042/08759 08784/08784 06893/08760 00323/08760 00352/08760
ST: DL034 00000/00000 00125/01402 02830/08760 01539/08760 00205/08760
ST: DL035 00000/00000 00000/00000 00000/00000 00255/08005 00175/08760
ST: DL036 00000/00000 00000/00000 00000/00000 00089/04349 00099/08760
ST: DL037 00000/00000 00000/00000 00000/00000 00302/08005 00276/08760
ST: DL038 00000/00000 00000/00000 00000/00000 00128/08005 00152/08760

In [124]:
rk_aqi = split_aqi[30]
# print(rk_aqi[:1])
print(metro_data.columns)
metro_data.rename(columns={'# Date': 'Date',}, inplace=True)
metro_data.rename(columns={'UT time': 'Time',}, inplace=True)
print(metro_data.columns)

Index(['# Date', 'UT time', 'Temperature', 'Relative Humidity', 'Pressure',
       'Wind speed', 'Wind direction', 'Rainfall', 'Snowfall', 'Snow depth',
       'Short-wave irradiation'],
      dtype='object')
Index(['Date', 'Time', 'Temperature', 'Relative Humidity', 'Pressure',
       'Wind speed', 'Wind direction', 'Rainfall', 'Snowfall', 'Snow depth',
       'Short-wave irradiation'],
      dtype='object')

In [125]:
print(rk_aqi.columns)
rk_aqi['Time'] = rk_aqi['Datetime'].str[-8:-3]
rk_aqi['Date'] = rk_aqi['Datetime'].str[0:10]
# rk_aqi.drop(columns =["Datetime"], inplace = True) 
print(rk_aqi[:5])

Index(['StationId', 'Datetime', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3',
       'CO', 'SO2', 'O3', 'Benzene', 'Toluene', 'Xylene', 'AQI', 'AQI_Bucket'],
      dtype='object')
        StationId             Datetime  PM2.5   PM10    NO    NO2    NOx  \
1000314     DL031  2015-04-04 11:00:00  59.67  39.17  5.83  41.58  46.47
1000315     DL031  2015-04-04 12:00:00  37.67  43.00  7.24  36.19  43.51
1000316     DL031  2015-04-04 13:00:00  36.00  58.00  5.54  26.33  32.07
1000317     DL031  2015-04-04 14:00:00    NaN  48.00  7.12  22.67  30.88
1000318     DL031  2015-04-04 15:00:00  32.00  50.33  7.02  19.72  28.03

           NH3    CO    SO2     O3  Benzene  Toluene  Xylene  AQI AQI_Bucket  \
1000314  41.97  0.33  13.53  79.50     1.61     7.09     NaN  NaN        NaN
1000315  38.40  0.32  17.91  65.00     1.87     6.91     NaN  NaN        NaN
1000316  26.73  0.42   6.30  58.17     1.36     6.26     NaN  NaN        NaN
1000317  20.23  0.40    NaN  54.42     0.97     4.21     NaN  NaN        NaN
1000318  18.80  0.45    NaN  49.92     1.30     4.83     NaN  NaN        NaN

          Time        Date
1000314  11:00  2015-04-04
1000315  12:00  2015-04-04
1000316  13:00  2015-04-04
1000317  14:00  2015-04-04
1000318  15:00  2015-04-04

<ipython-input-125-91803d7b94b7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rk_aqi['Time'] = rk_aqi['Datetime'].str[-8:-3]
<ipython-input-125-91803d7b94b7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rk_aqi['Date'] = rk_aqi['Datetime'].str[0:10]

In [128]:
print(len(rk_aqi))
print(len(metro_data))
df = pd.merge(rk_aqi, metro_data, how='inner', on=['Date', 'Time'])

45950
49680
44035

,StationId,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,...,Date,Temperature,Relative Humidity,Pressure,Wind speed,Wind direction,Rainfall,Snowfall,Snow depth,Short-wave irradiation
0,DL031,2015-04-04 11:00:00,59.67,39.17,5.83,41.58,46.47,41.97,0.33,13.53,...,2015-04-04,297.29,57.32,978.37,2.60,309.10,0.151247,0.0,0.0,353.7906
1,DL031,2015-04-04 12:00:00,37.67,43.00,7.24,36.19,43.51,38.40,0.32,17.91,...,2015-04-04,296.40,60.84,978.82,2.58,312.52,0.025755,0.0,0.0,190.6669
2,DL031,2015-04-04 13:00:00,36.00,58.00,5.54,26.33,32.07,26.73,0.42,6.30,...,2015-04-04,295.20,67.15,979.46,1.98,318.76,0.005438,0.0,0.0,57.3451
3,DL031,2015-04-04 14:00:00,NaN,48.00,7.12,22.67,30.88,20.23,0.40,NaN,...,2015-04-04,293.47,76.32,980.21,1.26,330.37,0.001642,0.0,0.0,0.0996
4,DL031,2015-04-04 15:00:00,32.00,50.33,7.02,19.72,28.03,18.80,0.45,NaN,...,2015-04-04,292.85,76.57,981.02,0.87,339.83,0.000546,0.0,0.0,0.0000
5,DL031,2015-04-04 16:00:00,32.17,62.33,7.01,25.05,32.95,18.07,0.50,NaN,...,2015-04-04,292.37,76.99,981.54,0.43,349.98,0.000223,0.0,0.0,0.0000
6,DL031,2015-04-04 17:00:00,35.33,66.17,7.93,32.71,41.26,25.17,0.53,7.82,...,2015-04-04,291.88,77.91,981.64,0.18,346.06,0.000107,0.0,0.0,0.0000
7,DL031,2015-04-04 18:00:00,54.83,68.33,5.08,35.26,38.95,36.15,0.49,15.35,...,2015-04-04,291.38,79.41,981.50,0.11,286.51,0.000048,0.0,0.0,0.0000
8,DL031,2015-04-04 19:00:00,79.17,31.00,1.95,71.90,73.00,27.28,33.80,180.80,...,2015-04-04,290.90,81.04,981.33,0.15,275.41,0.000022,0.0,0.0,0.0000
9,DL031,2015-04-04 20:00:00,11.83,72.00,8.75,86.51,92.01,20.85,23.06,10.79,...,2015-04-04,290.39,83.16,981.11,0.16,297.11,0.000010,0.0,0.0,0.0000

Index(['StationId', 'Datetime', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx', 'NH3',
       'CO', 'SO2', 'O3', 'Benzene', 'Toluene', 'Xylene', 'AQI', 'AQI_Bucket',
       'Time', 'Date', 'Temperature', 'Relative Humidity', 'Pressure',
       'Wind speed', 'Wind direction', 'Rainfall', 'Snowfall', 'Snow depth',
       'Short-wave irradiation'],
      dtype='object')

,StationId,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,...,Date,Temperature,Relative Humidity,Pressure,Wind speed,Wind direction,Rainfall,Snowfall,Snow depth,Short-wave irradiation
0,DL031,2015-04-04 11:00:00,59.67,39.17,5.83,41.58,46.47,41.97,0.33,13.53,...,2015-04-04,297.29,57.32,978.37,2.60,309.10,0.151247,0.0,0.0,353.7906
1,DL031,2015-04-04 12:00:00,37.67,43.00,7.24,36.19,43.51,38.40,0.32,17.91,...,2015-04-04,296.40,60.84,978.82,2.58,312.52,0.025755,0.0,0.0,190.6669
2,DL031,2015-04-04 13:00:00,36.00,58.00,5.54,26.33,32.07,26.73,0.42,6.30,...,2015-04-04,295.20,67.15,979.46,1.98,318.76,0.005438,0.0,0.0,57.3451
3,DL031,2015-04-04 14:00:00,NaN,48.00,7.12,22.67,30.88,20.23,0.40,NaN,...,2015-04-04,293.47,76.32,980.21,1.26,330.37,0.001642,0.0,0.0,0.0996
4,DL031,2015-04-04 15:00:00,32.00,50.33,7.02,19.72,28.03,18.80,0.45,NaN,...,2015-04-04,292.85,76.57,981.02,0.87,339.83,0.000546,0.0,0.0,0.0000
5,DL031,2015-04-04 16:00:00,32.17,62.33,7.01,25.05,32.95,18.07,0.50,NaN,...,2015-04-04,292.37,76.99,981.54,0.43,349.98,0.000223,0.0,0.0,0.0000
6,DL031,2015-04-04 17:00:00,35.33,66.17,7.93,32.71,41.26,25.17,0.53,7.82,...,2015-04-04,291.88,77.91,981.64,0.18,346.06,0.000107,0.0,0.0,0.0000
7,DL031,2015-04-04 18:00:00,54.83,68.33,5.08,35.26,38.95,36.15,0.49,15.35,...,2015-04-04,291.38,79.41,981.50,0.11,286.51,0.000048,0.0,0.0,0.0000
8,DL031,2015-04-04 19:00:00,79.17,31.00,1.95,71.90,73.00,27.28,33.80,180.80,...,2015-04-04,290.90,81.04,981.33,0.15,275.41,0.000022,0.0,0.0,0.0000
9,DL031,2015-04-04 20:00:00,11.83,72.00,8.75,86.51,92.01,20.85,23.06,10.79,...,2015-04-04,290.39,83.16,981.11,0.16,297.11,0.000010,0.0,0.0,0.0000